---
layout: default
---

<div class="blog__posts">
   {% for post in site.posts %}
    <div class="blog__postsItem">
      <div class="tags">
        {% for item in post.tags %}
        <div class="tags__item">{{ item }}</div>
        {% endfor %}
      </div>

      <div class="post">
        <h3 class="post__title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
        <p class="post__text">
           {{ post.excerpt }}
        </p>
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">read more</a>
    </div>
  {% endfor %}
</div>
